.cart__layout {
    display: flex;
    flex-direction: row;
    
    padding: 0.5rem 1rem;
    border-bottom: 5px solid #dadada;
    justify-content: space-between;
    align-items: center;
}

.cart__layout--item {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border: 1px solid #dadada;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    justify-content: space-between;
    align-items: center;

    img {
        width: 100px;
        height: 100px;
    }

    h3 {
        font-size: 1rem;
        font-weight: normal;
        min-width: 100px;
        max-width: 100px;
    }
}
