.cart__layout {
    display: flex;
    justify-content: center;
    flex-direction: row;

    @media screen and (max-width: 1060px) {
        flex-direction: column;
    }

    .items__container {
        flex-direction: column;

        @media screen and (max-width: 1060px) {
            display: flex;
            margin: 0 auto;
        }
    }

    .card__item {
        display: flex;
        padding: 1rem 1rem;
        border: 1px solid #dadada;
        margin: 0.5rem 0.5rem;
        border-radius: 3px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
        justify-content: space-between;
        align-items: center;
        text-align: start;
        background-color: #fff;

        div {
            margin: 1rem 1rem;
        }

        button {
            height: 30px;
            padding: 5px 10px;
            margin: 0.2pc 0.2pc;
            border-radius: 5px;
            cursor: pointer;
            border: 0;
            background-color: #555;
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            color: #fff;
            transition: 0.3s ease;

            &:hover {
                background-color: #e70808;
            }
        }

        img {
            width: 100px;
            height: 100px;
        }

        h2 {
            font-size: 1rem;
            font-weight: normal;
            min-width: 120px;
            max-width: 100px;
            color: #08b102;
            text-align: start;
            font-weight: 700;
            margin: 1rem 1rem;
        }

        p {
            text-align: center;
            margin: 0.5rem;
        }

        .detail {
            font-weight: bold;
            color: #555;
        }

        @media screen and (max-width: 800px) {
            flex-direction: column;

            div,
            h2 {
                margin: 0 auto;
                text-align: center;
                width: 10rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            span {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .detail {
                    background-color: #08b102;
                }
            }
        }
    }
}

.emptyCart__layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
    padding: 2rem 2rem;

    .btn {
        margin: 2rem 2rem;

        @media screen and (max-width: 440px) {
            font-size: 1.11rem;
        }

        &.link {
            text-decoration: none;
            background-color: #5757ff;
            color: #fff;
            padding: 10px 10px;
            border: 1px solid #dadada;
            border-radius: 5px;
            transition: 0.5s ease;

            &:hover {
                background-color: #08b102;
            }
        }
    }
}

.checkout__container {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 0.5rem;

    div {
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        flex-direction: column;

        div {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: transparent;

            .btn {
                margin: 0.5rem;
                padding: 0.5pc 0.9pc;
                border: 0;
                background-color: #e70808;
                color: #fff;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 400;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        p {
            font-size: 1.5rem;
            border-radius: 3px;
            padding: 0.5pc 0.5pc;
            color: #000;
            text-align: center;
        }
    }
}