.cartwidget__layout {
    margin: 0 0.8rem;
    text-decoration: none;
    display: flex;
    max-width: 100px;

    span {
        color: #fff;
        font-size: 2rem;
    }

    .counter {
        display: flex;
        align-items: center;
        color: rgba(236, 202, 6, 1);
        font-size: 1.3rem;
        min-width: 33px;
        max-width: 33px;
    }

    .counterDisable {
        display: flex;
        align-items: center;
        padding: 0 5px;
        color: transparent;
        font-size: 1.2rem;
        min-width: 33px;
        max-width: 33px;
    }
}

