.cartwidget__layout {
    margin: 0 1.2rem;
    display: flex;
    flex-direction: row;
    text-decoration: none;

    span {
        color: #fff;
        font-size: 2.3rem;
    }

    .counter {
        display: flex;
        align-items: center;
        color: rgba(236, 202, 6, 1);
        font-size: 1.2rem;
        justify-content: start;
    }

    .counterDisable {
        display: flex;
        align-items: center;
        padding: 0 5px;
        color: transparent;
        font-size: 1.2rem;
    }
}

