.item__layout {
    width: 200px;
    height: 50%;
    overflow: hidden;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.22);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    transition: 0.3s ease-in-out;

    &:hover {
        border: 2px solid rgba(255, 255, 255, 1);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    img {
        margin: 5px 5px;
        min-height: 200px;
        max-height: 200px;
    }

    .title {
        color: #0288b1;
        text-transform: uppercase;
        padding-top: 10px;
    }
    .price {
        width: 100%;
        padding: 5px 5px;
        color: rgb(97, 93, 93);
        padding-top: 10px;
        font-size: 1.1rem;
        padding-bottom: 10px;
    }
    .stock {
        width: 100%;
        padding: 5px 5px;
        background-color: rgb(223, 223, 223);
        color: #333;
        margin-top: 10px;
        padding: 10px 10px;
        font-size: 0.9rem;
        font-weight: bold;
    }
    .description {
        padding: 5px;
        color: #ffffff;
        text-transform: capitalize;
        background-color: #555;
        overflow: hidden;
    }
    .btnDetail{
        background-color: rgb(33, 66, 156);
    margin-bottom: 5px;
    color: #fff;
    padding: 7px 5px;
    margin: 5px;
    font-weight: normal;
    font-size: 1rem;
    border: 1px solid rgb(70, 111, 224);
    border-radius: 5px;
    cursor: pointer;
    width: 75%;
    transition: 0.3s ease;
    &:hover {
        background-color: rgb(41, 86, 211);
        width: 90%;
        }
    }
}