@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.header__layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    div {
        justify-content: start;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0 1rem;
        font-family: 'Inter', sans-serif;
        font-weight: normal;
        font-size: 1.3rem;

        @media screen and (max-width: 940px) {
            flex-wrap: wrap;
            justify-content: center;
            font-size: 1.2rem;
        }
        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                margin: 0.7rem;
                line-height: 2rem;
            }
            @media screen and (max-width: 770px) {
                li {
                    margin: 0.5rem;
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: #fff;
        transition: 0.5s ease;
        border-top-left-radius: 15px;
        border-top-right-radius: 5px;
        padding: 5px 5px;
        transition: 0.5s ease;
        &.active {
            background-color: #555;
            box-shadow: 1px 2px 4px rgba(255, 255, 255, 0.13);
        }
    }

    a:hover {
        color: rgba(236, 202, 6, 1);
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.header__div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__brand {
    margin-left: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5rem;
    background: -webkit-linear-gradient(#555, #fff, #555, #fff);
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s ease-in;
    width: 100%;

    &:hover {
        text-shadow: 0 1px 1px rgba(236, 202, 6, 0.5);
    }
}