.itemList__layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.itemList__layout--tittle {
    text-align: center;
    font-size: 1.7rem;
    color: #555;
}

@media (max-width: 500px) {
    .itemList__layout {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}